.App {
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.contant-page {
  margin: 0 auto;
  margin-top: 15vh;
  height: 80vh;
  padding-bottom: 20vh;
}
